.booklist .book-details{
    padding: 3rem 0;
    background-color: #f8f8f8;
}

.booklist-content{
    gap: 3rem;
}

.home-button:hover{
    background-color: var(--primary-color);    color: var(--yellow-color);
}

.book-item{
    padding: 3rem 1rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgb(167, 136, 35) 0px 5px 15px 0px;
    transition: var(--transition);
}

.book-item:hover{
    box-shadow: rgb(199, 155, 34) 0px 5px 15px 0px;
}

.book-item-img {
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}

.book-item-info{
    margin-top: 0rem;
}

.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 1rem;
}

.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}

.book-item-info-item.pusblish_year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}

@media screen and (min-width: 600px){
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px){
    .booklist-content{
        grid-template-columns: repeat(3, 1fr);
    }

    .book-item-img{
        max-width: 150px;
    }
}

@media screen and (min-width: 900px){
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }

    .book-item-img{
        max-width: 120px;
    }
}